---
import Layout1 from '../Layout/Layout1.astro';
---

<Layout1 title="about">
    <div class ="contact-info">
    NTCKim@uchicago.edu
    <br>
    <style>
      .email::after {
        content: attr(data-text);
      }
    </style>
    <a href="https://www.linkedin.com/in/kim-nathaniel/" target="_blank">LinkedIn</a><br>
    <a href="https://github.com/ntckim" target="_blank">Github</a>
    </div>
    
</Layout1>
