---
import Layout1 from '../Layout/Layout1.astro';
---

<Layout1 title="Education" mainClass="education-page">
    <div class="educations-container">
    <div class = "educations">
        <div class = "edu-title">
            <div class = "education-title">University of Chicago</div>
            <div class = "edu-date">Sept 2023 - May 2027</div>
        </div>
        <div class = "edu-desc">
            <div class = "degree"><b>BS/BA Computer Science & Media Arts and Design; Minor in East Asian languages and Civilizations</b> | 3.6 GPA</div>
            <div class = "project-description">
                <b>Specialization: </b> Privacy and Security<br>
                <b>Relevant Courses:</b> Theory of Algorithms, Discrete Math, Mathematical Foundations of Machine Learning,
                Systems Programming I/II, Intro to Computer Science I/II, Intro to Proofs in Analysis, Intro to Data Science
            </div>
        </div>
    </div>
    <div class = "educations">
        <div class = 'edu-title'>
            <div class = "education-title">Union County Academy for Information Technology</div>
            <div class = "edu-date">Sept 2019 - June 2023</div>
        </div>
        <div class = "edu-desc">
            <div class = "degree"><b>High School Diploma, Certificate of Information Technology</b> | 95/100 GPA</div>
            <div class = "project-description">
                <b>Activities:</b> Varsity Soccer, Math League
            </div>
        </div>
    </div>
</div>
</Layout1>