---
import Layout from '../Layout/layout.astro';
---

<Layout title="home">
<section class = "hero">
	<img src="/media/profile.jpg" alt="Nathaniel Kim" class="hero-image" />
</section>
<section class = "content">
	The official website for Nathaniel Kim.

	I am a second-year undergraduate from New Jersey studying Computer Science with a specialization in privacy and security, and East Asian Languages and Cultures at the University of Chicago.
	
	Right now, I'm doing research with Uchicago's SUPERgroup on privacy and security.
	
	I'm still undecided on my career path, but I am dipping my feet into the worlds of software development, machine learning, data science, and research. This summer, aside from continuing with my research, I plan on woking on lots of personal projects and experimenting with computer art and video game development.
	
	In my free time, I like to play video games, watch movies, go to the gym, and listen to music. (I'm currently really into J-rock)!
	
	Contact me:
	NTCKim
	LinkedIn
	FIX THISISISHD:FLS:LDKHF:OSIHESF:OIHSEf
	Github
</section>
</Layout>
