---
import Layout1 from '../Layout/Layout1.astro';
---
<Layout1 title="Home" mainClass="index-page">
    <div class="index-content">
       <!-- <div class = "logo">Nathaniel Kim</div>-->
        <img src="/media/me.png" alt="Nathaniel Kim" class="pfp-image" />
        <div class="main-text">
        I am a <b>Software Developer</b> / <b>Privacy and Security Researcher</b> in the <b>Chicago</b> & 
        <b>NYC</b> areas.<br>
        I am a third year at the <b>University of Chicago</b> studying <b>Computer Science</b> and 
        <b>Media Arts and Design</b>.<br>
        Currently, I am doing <b>privacy and security research</b> with Uchicago's <a href="https://super.cs.uchicago.edu/" target="_blank"> SUPERgroup.</a><br>
        My interests within CS include <b>Software Development</b>, <b>Web Design</b>, <b>UI/UX</b>, <b>Data Science</b>, and <b>Game Development</b>. 
        <br>In my free time, I enjoy photography, watching movies, powerlifting, and eating Chinese food.
    
    <!--I am a Software Developer / Privacy and Security Researcher in the Chicago & 
    NYC areas.
    I am a third year at the University of Chicago studying Computer Science and 
    Media Arts and Design.
    Currently, I am doing privacy and security research with Uchicago's <a href="https://super.cs.uchicago.edu/"> SUPERgroup.</a>
    My interests within CS include Software Development, Web Design, UI/UX, Data Science, and Game Development. In my free time, I enjoy photography, watching movies, powerlifting, and listening to j-rock.
    -->
        </div>
    </div>

</Layout1>
