---
import Layout1 from '../Layout/Layout1.astro';
---
<Layout1 title="Home">
    <div class="image-carousel">
        <div class="carousel-container">
            <img src="/media/placeholder.jpg" alt="Nathaniel Kim" class="top-image active" />
            <img src="/media/profile.jpg" alt="Nathaniel Kim" class="top-image" />
            <img src="/media/river.jpg" alt="Nathaniel Kim" class="top-image" />
        </div>
        <button class="carousel-btn prev-btn" onclick="changeImage(-1)">‹</button>
        <button class="carousel-btn next-btn" onclick="changeImage(1)">›</button>
    </div>
    <br>
    The official website for Nathaniel Kim.<br><br>
    I am a second-year undergraduate from New Jersey studying Computer Science and East Asian Languages and Cultures at the University of Chicago.
    <br>
    Right now, I'm doing research with Uchicago's <a href="https://super.cs.uchicago.edu/" target="_blank" >SUPERgroup</a> on privacy and security.
    <br>
    I'm still undecided on my career path, but I am dipping my feet into the worlds of software development, machine learning, data science, and research. This summer, aside from continuing with my research, I plan on working on lots of personal projects and experimenting with game development.
    <br>
    In my free time, I like to play video games, watch movies, go to the gym, and listen to music. (I'm currently really into J-rock)!

</Layout1>
