---
import Layout1 from '../Layout/Layout1.astro';
---
<Layout1 title="Home">
    <img src="/media/me.png" alt="Nathaniel Kim" class="pfp-image" />
    <div class="main-text">
        I am a <b>Software Developer</b> / <b>Privacy and Security Researcher</b> in the <b>Chicago</b> & 
        <b>NYC</b> areas.<br>
        I am a third year at the <b>University of Chicago</b> studying <b>Computer Science</b> and 
        <b>Media Arts and Design</b>.<br>
        Currently, I am doing privacy and security research with Uchicago's <a href="https://super.cs.uchicago.edu/"> SUPERgroup.</a><br>
        My interests within CS include <b>Software Development</b>, <b>Web Design</b>, <b>UI/UX</b>, <b>Data Science</b>, and <b>Game Development</b>. In my free time, I enjoy photography, watching movies, powerlifting, and listening to j-rock.
    </div>

</Layout1>
