---
import Layout1 from '../Layout/Layout1.astro';
---

<Layout1 title="Projects">
    <div class="projects-container">
      <ol>
        <li><a href="https://example.com/project1" class="project">Dev Simplified</a></li>
        <li><a href="https://example.com/project2" class="project">Two-Twenty-Five</a></li>
        <!--<li><a href="https://example.com/project3" class="project">Code Painting</a></li> -->
        <li><a href="./projects/go" class="project">Go</a></li>
        <li><a href="https://example.com/project4" class="project">Movie Recommendation System</a></li>
      </ol>
    </div>
</Layout1>
