a {
    color: black; 
    text-decoration: underline; 
}
a.hover{
    color: #666; 
}

@font-face {
    font-family: "myFont";
    src: url("../Fonts/ShipporiMincho-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "myFont";
    src: url("../Fonts/ShipporiMincho-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'korean';
    src: url('../Fonts/GowunBatang-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'korean';
    src: url('../Fonts/GowunBatang-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
html {
    height: 100%;
    font-size: .8rem;
}

body {
    font-family: "myFont", "korean", sans-serif; 
    margin: 0;
    padding: 0;
    height: 100vh;
    overscroll-behavior: none;
    overflow-x: hidden;
    transition: background-color 1s ease;
    background-color: white;
    color: white;
    display: flex;
    position: relative;
    width: 100%;
}

.navbar {
    background-color: rgb(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2rem;
    padding-bottom: 2rem;
    z-index: 10;
    pointer-events: none; /* Allow clicking through the navbar */
    position: fixed;
    bottom: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0.5rem 0; /* Reduced vertical margin to create less space between links */
    transition: color 0.3s ease;
    pointer-events: auto; /* Re-enable clicking for the links */
}

.navbar a:hover {
    color: #666;
}

/* Main content takes up the right column */
main {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    color: black;
    width: 100%;
    text-align: justify;
    text-align-last: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pfp-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.main-text{
    justify-content: center;
    line-height: 1.6;
    padding: 2rem;
    padding-top: 1rem;
    max-width: 375px;
    text-align: justify;
    text-align-last: left;
    text-justify: inter-word;
}
.contact-info{
    font-size: 1rem;
    text-align: center;
    text-align-last: center;
}