---
import Layout1 from '../../Layout/Layout1.astro'; // Adjusted path to match the correct directory structure
---
<Layout1 title="TwoTwentyFive">
<div class = "project">
    <div class = "project-date">April 2025 -August 2024</div>
    <div class = "project-title">TwoTwentyFive</div>
    <div class = "project-technologies">React Native, Firebase, Expo</div>
    <div class = "project-technologies" style = "margin-bottom: 10px;"><a href="https://github.com/alisk8/gymapp" target = "_blank">Source Code</a></div>
        <div class = "project-description">
            A social workout tracker mobile app that makes weightlifting progress simple, motivating, and community-driven. 
            Users can log their workouts, track their progress over time, and connect with friends to share their 
            workouts and other gym content. The app also provides users with personalized feedback and 
            recommendations based on their workout history and goals.
        </div>

    <br>
    <div style = "text-align-last: right; font-size: 1.3rem;"> <a href="../projects">&lt; BACK </a></div>
</div>
</Layout1>