---
import Layout1 from '../../Layout/Layout1.astro'; // Adjusted path to match the correct directory structure
---
<Layout1 title="Dev Simplified">
<div class = "project">
    <div class = "project-date">May 2025 - August 2025</div>
    <div class = "project-title">Dev Simplified</div>
    <div class = "project-technologies">React, HTML/CSS/JS, Deepseek AI</div>
    <div class = "project-technologies" style = "margin-bottom: 10px;"><a href="https://github.com/ntckim/Dev-Simplified" target = "_blank">Source Code</a></div>
        <div class = "project-description">
            An interactive platform for algorithm visualization and AI-powered technical and behavioral interview prep.
            Includes an algorithm visualizer to visualize user-inputted tree algorithms such as DFS and BFS. 
            Also includes an AI-powered interview prep tool that uses Deepseek's API to conduct live mock behavioral and 
            technical interviews tailored specifically to the user based on their resume and job description.
        </div>

    <br>
    <div style = "text-align-last: right; font-size: 1.3rem;"> <a href="../projects">&lt; BACK </a></div>
</div>
</Layout1>