---
import Layout1 from '../../Layout/Layout1.astro'; // Adjusted path to match the correct directory structure
---
<Layout1 title="Go">
<div class = "project">
    <div class = "project-date">February, 2024</div>
    <div class = "project-title">Go</div>
    <div class = "project-technologies">Python, Pygame</div>
    <div class = "project-technologies" style = "margin-bottom: 10px;">Source code available upon request</div>
        <div class = "project-description">
            An implementation of the game Go with a GUI and TUI. This was made 
            in Python with the use of Pytorch for the GUI. You can play against a 
            computer or another local player. There are three play styles for the AI 
            (random, smart, and aggressive). 
        </div>

    <br>
    <div style = "text-align-last: right; font-size: 1.3rem;"> <a href="../projects">&lt; BACK </a></div>
</div>
</Layout1>