---
import Layout1 from '../../Layout/Layout1.astro'; // Adjusted path to match the correct directory structure
---
<Layout1 title="Dev Simplified">
<div class = "project">
    <div class = "project-date">June 2023</div>
    <div class = "project-title">Least Squares Movie Recommendation System</div>
    <div class = "project-technologies">Data Science, Python</div>
    <div class = "project-technologies" style = "margin-bottom: 10px;"><a href="https://github.com/ntckim/Least-Squares" target = "_blank">Source Code</a></div>
        <div class = "project-description">
            A movie recommendation system that uses least squares to predict user ratings based on movies.
            Data is scraped from Letterboxd.com, a social media platform for rating movies.
            Analysis is done with Pandas, Numpy, and Sklearn libraries in Python.
        </div>

    <br>
    <div style = "text-align-last: right; font-size: 1.3rem;"> <a href="../projects">&lt; BACK </a></div>
</div>
</Layout1>